@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/colors.css';

:root {
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 17px;
  }
}

@media (max-width: 640px) {
  :root {
    font-size: 18px;
  }
}
